<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <!--    <th:block th:include="/common/fragments-util :: doctype-html-head-tags-begin"/>-->
    <th:block th:include="/common/fragments-util :: head"/>
    <link th:href="@{/static/css/personal.css}" rel="stylesheet"/>
    <title th:text="#{navbar.brand}"></title>
</head>
<body>
<div th:replace="/common/fragments-page :: header"/>
<div class="container">
    <div class="main-body mb-3 mt-3">
        <div class="row">
            <div th:replace="/common/fragments-page :: personal-card"/>

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form th:action="@{/user/personal/edit/{username}(username=${cardDto.username})}" th:object="${cardDto}" method="post">
                            <div class="row mb-3">
                                <input type="hidden" th:field="*{id}">
                                <div class="col-sm-3">
                                    <h6 class="mb-0" th:text="#{login.username}">Nickname</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" th:value="*{username}"
                                           th:field="*{username}" disabled>
                                </div>
                                <p class="text_error_underline" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3"><h6 class="mb-0" th:text="#{profile.name}">Name</h6></div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" th:field="*{name}"
                                           th:value="*{name}" min="3" max="28">
                                    <p class="text_error_underline" th:each="error: ${#fields.errors('name')}" th:text="${error}"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3"><h6 class="mb-0" th:text="#{profile.surname}">Surname</h6></div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" th:field="*{surname}"
                                           th:value="*{surname}" min="3" max="28">
                                    <p class="text_error_underline" th:if="${#fields.errors('surname')}" th:errors="*{surname}"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3"><h6 class="mb-0" th:text="#{profile.thirdName}">ThirdName</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" th:field="*{thirdName}"
                                           th:value="*{thirdName}" min="3" max="28">
                                    <p class="text_error_underline" th:if="${#fields.errors('thirdName')}" th:errors="*{thirdName}"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0" th:text="#{reg.email}">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="email" class="form-control" th:field="*{email}"
                                           th:value="*{email}">
                                    <p class="text_error_underline" th:if="${#fields.errors('email')}" th:errors="*{email}"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3 "><h6 class="mb-0" th:text="#{profile.mobile}">Phone</h6></div>
                                <div class="col-sm-9 text-secondary mobile_block">
                                    <h6 class="mb-0 me-2">+375</h6>
                                    <input width="300px" type="number" class="form-control" th:field="*{mobile}"
                                           th:value="*{mobile}" min="100000000" max="999999999" placeholder="">
                                    <p class="text_error_underline" th:if="${#fields.errors('mobile')}" th:errors="*{mobile}"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3"><h6 class="mb-0" th:text="#{profile.birthday}">birthday</h6></div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="date" class="form-control" th:field="*{birthday}"
                                           th:value="*{birthday}" >
                                    <p class="text_error_underline" th:if="${#fields.errors('birthday')}" th:errors="*{birthday}"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3"><h6 class="mb-0" th:text="#{profile.gender}">gender</h6></div>
                                <div class="col-sm-9 text-secondary d-flex">
                                        <div class="custom-control custom-radio custom-control-inline me-5">
                                            <input type="radio" id="option"  class="custom-control-input" th:value="${genders[0].MALE}" th:field="*{gender}">
                                            <label class="custom-control-label" for="option" th:text="#{profile.gender.male}"></label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="option2" class="custom-control-input" th:value="${genders[0].FEMALE}" th:field="*{gender}">
                                            <label class="custom-control-label" for="option2" th:text="#{profile.gender.female}"></label>
                                        </div>
                                        <p class="text_error_underline" th:if="${#fields.errors('gender')}" th:errors="*{gender}"></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-secondary text-center">
                                    <button class="btn btn-primary px-4" th:text="#{label.changes.save}"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="/common/fragments-page :: footer"/>
</body>
</html>
