<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <!--    <th:block th:include="/common/fragments-util :: doctype-html-head-tags-begin"/>-->
    <th:block th:include="/common/fragments-util :: head"/>
    <link th:href="@{/static/css/home.css}" rel="stylesheet"/>
    <title th:text="#{navbar.brand}"></title>
</head>
<body>
<div th:replace="/common/fragments-page :: header"/>
<div class="main">
    <div class="container">
        <div class="row">
            <h1 class="text-center text-uppercase mb-5 color-blue" th:text="#{about.opportunities}"></h1>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12 text-center">
                <div class="row-block-item">
                    <img th:src="@{/static/images/global-logo.png}"/>
                    <h5 class="p-2" th:text="#{about.personal}"></h5>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 text-center">
                <div class="row-block-item">
                    <img th:src="@{/static/images/history-logo.png}"/>
                    <h5 class="p-2" th:text="#{about.patients.history}"></h5>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 text-center">
                <div class="row-block-item">
                    <img th:src="@{/static/images/email-logo.png}"/>
                    <h5 class="p-2" th:text="#{about.patients.email-notifications}"></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/common/fragments-page :: footer"/>
<th:block th:include="/common/fragments-util :: bs-link-js"/>
</body>
</html>