<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <th:block th:include="/common/fragments-util :: doctype-html-head-tags-begin"/>-->
    <th:block th:include="/common/fragments-util :: meta-tags"/>
    <th:block th:include="/common/fragments-util :: bs-link-css"/>
    <link rel="stylesheet" th:href="@{/static/css/login-registration.css}">
    <title>Log In</title>
</head>
<body>
<div class="container-wrapper">
    <div class="container">
        <form action="${contextPath}controller?command=login" method="post">
            <div class="title">Log In</div>
            <div class="input-box underline">
                <input type="text" placeholder="Username" name="username"
                       autocomplete="off" required>
                <div class="underline"></div>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Pass" name="password"
                       autocomplete="off" required>
                <div class="underline"></div>
            </div>

            <div class="input-box button">
                <input type="submit" value="Log In"/>
            </div>
        </form>
        <div class="title forgot">
            <a class="underlineHover" href="${contextPath}controller?command=registration">REgistr</a>
        </div>
    </div>
</div>
<th:block th:include="/common/fragments-util :: bs-link-js"/>
</body>
</html>