<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <th:block th:include="/common/fragments-util :: doctype-html-head-tags-begin"/>-->
    <th:block th:include="/common/fragments-util :: meta-tags"/>
    <th:block th:include="/common/fragments-util :: bs-link-css"/>
    <link rel="stylesheet" th:href="@{/static/css/login-registration.css}">
    <title th:text="#{login.signIn}"></title>
</head>
<body>
<div class="container-wrapper">
    <div class="container">
        <form th:action="@{/auth/authentication}" method="post">
            <div class="title" th:text="#{login.auth}"></div>
            <div class="input-box underline">
                <input type="text" th:placeholder="#{login.username}" name="username"
                       autocomplete="off" required>
                <div class="underline"></div>
            </div>
            <div class="input-box">
                <input type="password" th:placeholder="#{login.password}" name="password"
                       autocomplete="off" required>
                <div class="underline"></div>
            </div>
            <div th:if="${param.error}" class="alert alert-danger mt-4" th:text="#{login.incorrect.login-password}"></div>
            <div th:if="${param.logout}" class="alert alert-info mt-4" th:text="#{login.logout}"></div>
            <div th:if="${activated}" class="alert alert-info mt-2 mb-2 text-center" th:text="#{user.activation.success}"></div>
            <div th:if="${failCode}" class="alert alert-warning mt-2 mb-2 text-center" th:text="#{user.activation.fail}"></div>
            <div class="input-box button">
                <input type="submit" th:value="#{login.signIn}"/>
            </div>
        </form>
        <div class="title forgot">
            <a class="underlineHover" th:href="@{/auth/registration}" th:text="#{login.registration}"></a>
        </div>
        <div class="title forgot">
            <a class="underlineHover" th:href="@{/auth/reset/password}" th:text="#{login.forgot.password}"></a>
        </div>
        <div class="title forgot">
            <a class="underlineHover" th:href="@{/}" th:text="#{label.to.main}"></a>
        </div>
    </div>
</div>
<th:block th:include="/common/fragments-util :: bs-link-js"/>
</body>
</html>